$mobilePadding: 20;

$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 24px;
$h5: 18px;
$h5: 16px;

$btn_color: #F58A07;
$primary-color: #063255;
$main_text_color: #1D3444;
$secondary_text_color:#5B5B5B;
$article_text_color: #0D1317;
$black: #161722;
$white: #fff;
